TFLUENTTOGGLESWITCH        BITMAP "TFluentToggleSwitch.bmp"
TFLUENTTOGGLESWITCH16      BITMAP "TFluentToggleSwitch16.bmp"
TFLUENTTOGGLESWITCH32      BITMAP "TFluentToggleSwitch32.bmp"
TFLUENTTOGGLESWITCH_PNG    RCDATA "TFluentToggleSwitch.png"
TFLUENTTOGGLESWITCH16_PNG  RCDATA "TFluentToggleSwitch16.png"
TFLUENTTOGGLESWITCH32_PNG  RCDATA "TFluentToggleSwitch32.png"
TFLUENTTOGGLESWITCH128_PNG RCDATA "TFluentToggleSwitch128.png"
